.mainWrapper {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 96px;
    padding-bottom: 96px;
    width: 50%;
    margin: 0 auto;

    .title {
        display: flex;
        align-items: center;
        gap: 20px;
        font-family: var(--font-helvetica-neue);
        font-size: 48px;
        letter-spacing: -2px;
        color: var(--text-color);
        margin-bottom: 30px;
    }

    .description {
        font-family: var(--font-helvetica-neue);
        font-size: 20px;
        line-height: 1.6;
        color: var(--text-color);
        margin-bottom: 20px;
    }

    // Input Checklist

    .checklist {
        --check: #4f29f0;
        --disabled: #c3c8de;
        --height: 140px;
        --border-radius: 10px;
        height: var(--height);
        border-radius: var(--border-radius);
        position: relative;
        display: grid;
        grid-template-columns: 30px auto;
        align-items: center;

        label {
            color: var(--text-color);
            position: relative;
            cursor: pointer;
            display: grid;
            align-items: center;
            width: fit-content;
            transition: color 0.3s ease;
            &::before,
            &::after {
                content: "";
                position: absolute;
            }
            &::before {
                height: 2px;
                width: 8px;
                left: -27px;
                background: var(--check);
                border-radius: 2px;
                transition: background 0.3s ease;
            }
            &:after {
                height: 4px;
                width: 4px;
                top: 8px;
                left: -25px;
                border-radius: 50%;
            }
        }
        input[type="checkbox"] {
            -webkit-appearance: none;
            -moz-appearance: none;
            position: relative;
            height: 15px;
            width: 15px;
            outline: none;
            border: 0;
            margin: 0 15px 0 0;
            cursor: pointer;
            background: var(--background);
            display: grid;
            align-items: center;
            &::before,
            &::after {
                content: "";
                position: absolute;
                height: 2px;
                top: auto;
                background: var(--check);
                border-radius: 2px;
            }
            &::before {
                width: 0px;
                right: 60%;
                transform-origin: right bottom;
            }
            &::after {
                width: 0px;
                left: 40%;
                transform-origin: left bottom;
            }
            &:checked {
                &::before {
                    animation: check-01 0.4s ease forwards;
                }
                &::after {
                    animation: check-02 0.4s ease forwards;
                }
                + label {
                    color: var(--disabled);
                    animation: move 0.3s ease 0.1s forwards;
                    &::before {
                        background: var(--disabled);
                        animation: slice 0.4s ease forwards;
                    }
                    &::after {
                        animation: firework 0.5s ease forwards 0.1s;
                    }
                }
            }
        }
    }

    @keyframes move {
        50% {
            padding-left: 8px;
            padding-right: 0px;
        }
        100% {
            padding-right: 4px;
        }
    }

    @keyframes slice {
        60% {
            width: 100%;
            left: 4px;
        }
        100% {
            width: 100%;
            left: -2px;
            padding-left: 0;
        }
    }

    @keyframes check-01 {
        0% {
            width: 4px;
            top: auto;
            transform: rotate(0);
        }
        50% {
            width: 0px;
            top: auto;
            transform: rotate(0);
        }
        51% {
            width: 0px;
            top: 8px;
            transform: rotate(45deg);
        }
        100% {
            width: 5px;
            top: 8px;
            transform: rotate(45deg);
        }
    }

    @keyframes check-02 {
        0% {
            width: 4px;
            top: auto;
            transform: rotate(0);
        }
        50% {
            width: 0px;
            top: auto;
            transform: rotate(0);
        }
        51% {
            width: 0px;
            top: 8px;
            transform: rotate(-45deg);
        }
        100% {
            width: 10px;
            top: 8px;
            transform: rotate(-45deg);
        }
    }

    @keyframes firework {
        0% {
            opacity: 1;
            box-shadow:
                0 0 0 -2px #4f29f0,
                0 0 0 -2px #4f29f0,
                0 0 0 -2px #4f29f0,
                0 0 0 -2px #4f29f0,
                0 0 0 -2px #4f29f0,
                0 0 0 -2px #4f29f0;
        }
        30% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            box-shadow:
                0 -15px 0 0px #4f29f0,
                14px -8px 0 0px #4f29f0,
                14px 8px 0 0px #4f29f0,
                0 15px 0 0px #4f29f0,
                -14px 8px 0 0px #4f29f0,
                -14px -8px 0 0px #4f29f0;
        }
    }

    .readmeList {
        margin-bottom: 20px;

        .subTitle {
            color: var(--text-color);
            font-family: var(--font-sf-mono-regular);
            font-size: 18px;
            line-height: 1.6;
            margin-top: 40px;
            margin-bottom: 20px;
        }

        .projectList {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .projectItem {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                border: 1px solid var(--border-color);
                border-radius: 10px;
                padding: 20px;

                .leftWrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    width: 75%;
                }

                .rightWrapper {
                    .viewBtn {
                        display: inline-block;
                        font-family: var(--font-helvetica-neue);
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 28px;
                        padding: 8px 12px;
                        border-radius: 12px;
                        color: var(--background);
                        border: none;
                        background: var(--text-color);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1499px) {
    .mainWrapper {
        padding-left: 1.6666666666666667vw;
        padding-right: 1.6666666666666667vw;
        padding-top: 6.666666666666667vw;
        padding-bottom: 6.666666666666667vw;

        .title {
            gap: 1.3888888888888888vw;
            font-size: 3.3333333333333335vw;
            margin-bottom: 2.0833333333333335vw;
        }

        .description {
            font-size: 1.3888888888888888vw;
            margin-bottom: 1.3888888888888888vw;
        }

        // Input Checklist
        .checklist {
            grid-template-columns: 2.0833333333333335vw auto;

            input[type="checkbox"] {
                width: 1.0416666666666667vw;
                margin: 0 1.0416666666666667vw 0 0;
            }
        }

        .readmeList {
            margin-bottom: 1.3888888888888888vw;

            .subTitle {
                font-size: 1.25vw;
                margin-top: 2.7777777777777777vw;
                margin-bottom: 1.3888888888888888vw;
            }

            .projectList {
                gap: 1.3888888888888888vw;

                .projectItem {
                    padding: 1.3888888888888888vw;

                    .leftWrapper {
                        gap: 1.0416666666666667vw;
                    }

                    .rightWrapper {
                        .viewBtn {
                            font-size: 0.9722222222222222vw;
                            padding: 0.5555555555555556vw 0.8333333333333334vw;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .mainWrapper {
        width: 80%;
        padding: 60px 0;
        margin: 0 auto;

        .title {
            font-size: 36px;
            gap: 16px;
            margin-bottom: 25px;
        }

        .description {
            font-size: 18px;
            line-height: 1.5;
            margin-bottom: 20px;
        }

        /* Checklist */
        .checklist {
            --height: 120px;
            grid-template-columns: 28px auto;

            label {
                font-size: 16px;
                &::before {
                    left: -24px;
                }
                &::after {
                    left: -22px;
                }
            }

            input[type="checkbox"] {
                height: 14px;
                width: 14px;
                margin-right: 12px;
            }
        }

        /* README List */
        .readmeList {
            margin-bottom: 20px;

            .subTitle {
                font-size: 16px;
                margin-top: 35px;
                margin-bottom: 18px;
            }

            .projectList {
                gap: 16px;

                .projectItem {
                    padding: 18px;

                    .leftWrapper {
                        width: 70%;
                        gap: 12px;
                    }

                    .rightWrapper {
                        .viewBtn {
                            font-size: 13px;
                            padding: 8px 10px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .mainWrapper {
        width: 90%;
        padding: 40px 0px 100px;
        margin: 0 auto;

        .title {
            font-size: 28px;
            gap: 12px;
            margin-bottom: 20px;
        }

        .description {
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 16px;
        }

        /* Checklist Mobile */
        .checklist {
            --height: 100%;
            grid-template-columns: 26px auto;

            label {
                font-size: 14px;

                &::before {
                    left: -22px;
                    width: 6px;
                }

                &::after {
                    left: -20px;
                }
            }

            input[type="checkbox"] {
                height: 12px;
                width: 12px;
                margin-right: 10px;
            }
        }

        /* Readme List */
        .readmeList {
            margin-bottom: 15px;

            .subTitle {
                font-size: 16px;
                margin-top: 30px;
                margin-bottom: 16px;
            }

            .projectList {
                gap: 14px;

                .projectItem {
                    padding: 16px;
                    flex-direction: column;
                    gap: 15px;

                    .leftWrapper {
                        width: 100%;
                        gap: 12px;
                    }

                    .rightWrapper {
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;

                        .viewBtn {
                            font-size: 13px;
                            padding: 8px 12px;
                        }
                    }
                }
            }
        }
    }
}
