.mainWrapper {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 96px;
    padding-bottom: 110px;
    width: 50%;
    margin: 0 auto;
    max-width: 900px;
    line-height: 1.6;
    color: var(--text-color);
    font-size: 16px;
}

@media only screen and (min-width: 1200px) and (max-width: 1499px) {
    .mainWrapper {
        padding-left: 1.6666666666666667vw;
        padding-right: 1.6666666666666667vw;
        padding-top: 6.666666666666667vw;
        padding-bottom: 7.638888888888889vw;
        max-width: 62.5vw;
        font-size: 1.1111111111111112vw;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .mainWrapper {
        width: 80%;
        max-width: 700px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 70px;
        padding-bottom: 90px;
        margin: 0 auto;
        font-size: 15px;
        line-height: 1.6;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .mainWrapper {
        width: 90%;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
        padding-top: 50px;
        padding-bottom: 70px;
        margin: 0 auto;
        font-size: 14px;
        line-height: 1.6;
    }
}
